alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -A'

config () {
  if [[ $1 == "clean" ]]
  then
    echo "impossible to clean home directory"
    return 1
  elif [[ $1 == "status" ]]
  then
    command /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME status --untracked-files=no
  elif [[ $1 == "tree" ]]
  then
    command /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME ls-tree -r --name-only HEAD | tree --fromfile
  else
    command /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME "$@"
  fi
}

activate () {
  if [[ -d ".venv" ]]
  then
    source .venv/bin/activate
  else
    echo ".venv directory not found"
  fi
}

alias bat='batcat --theme=base16'
alias open='xdg-open'
alias python='python3'
alias show='feh --image-bg #181818 --scale-down'
