alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -A'

config () {
  if [[ $1 == "clean" ]]
  then
    echo "impossible to clean home directory"
  elif [[ $1 == "status" ]]
  then
    command /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME status --untracked-files=no
  else
    command /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME "$@"
  fi
}

activate () {
  if [ -d ".env" ]
  then
    VIRTUAL_ENV_NAME=`ls .env | head -n 1`
    source .env/$VIRTUAL_ENV_NAME/bin/activate
  else
    echo ".env directory not found"
  fi
}

alias python='python3'
alias pip='pip3'
alias feh='feh --image-bg #181818'

