! special
*.foreground:   #e4e4e4
*.background:   #121212
*.cursorColor:  #e4e4e4

! black
*.color0:       #4e4e4e
*.color8:       #585858

! red
*.color1:       #ff5f00
*.color9:       #ff875f

! green
*.color2:       #875faf
*.color10:      #8787af

! yellow
*.color3:       #ff8700
*.color11:      #ffaf5f

! blue
*.color4:       #5f87d7
*.color12:      #87afd7

! magenta
*.color5:       #d787af
*.color13:      #d7afaf

! cyan
*.color6:       #5f87d7
*.color14:      #87afd7

! white
*.color7:       #eeeeee
*.color15:      #ffffff

URxvt.font: xft:Hack:size=11
URxvt.scrollBar: false
