*background: #121212
*foreground: #E4E4E4
*color0: #4E4E4E
*color1: #FF5F00
*color2: #875FAF
*color3: #FF8700
*color4: #5F87D7
*color5: #D787AF
*color6: #5F87D7
*color7: #EEEEEE
*fadeColor: #585858
*color8: #585858
*color9: #FF875F
*color10: #8787AF
*color11: #FFAF5F
*color12: #87AFD7
*color13: #D7AFAF
*color14: #87AFD7
*color15: #FFFFFF

URxvt.font: xft:Hack:size=11
URxvt.scrollBar: false
